* {
  box-sizing: border-box;
}

.mycontent {
  display : flex;
  align-items : center;
  justify-content: center;
  height : 100vh;
  margin: 0;
  padding: 0;
}

/* .login-form {
  font-family: fantasy;
  display : flex;
  flex-direction: column;
  align-items: center;
  justify-content: flex-start;
  padding: 10px 40px 40px 40px;
  box-shadow: 0px 0px 10px 5px #f49b42;
  border-radius: 1em;
} */

.loginimg {

  height : 100px;
  width: 70px;
  padding-bottom: 20px;
  padding-top: 20px;
}

.form-input {
  border-width: 0 0 2px 0;
  margin-top: 10px;
}

.form-input:focus {
  outline: none;
  border-color: #f49b42;
}

.form-input-label {
  padding-top: 15px;
}

/* .login-button {
  margin : 20px;
  background-color: #f49b42;
  border : none;
  padding : 5px 10px 5px 10px;
  font-weight: bold;
  border-radius: 5px;
  font-family:sans-serif;
  color: white;
  font-size: 1em
} */

.cancel-button {
  margin : 20px;
  background-color: red;
  border : none;
  padding : 5px 10px 5px 10px;
  font-weight: bold;
  border-radius: 5px;
  font-family:sans-serif;
  color: white;
  font-size: 1em
}

.cancel-button:focus {
  outline: none;
}

.login-button:focus {
  outline: none;

}

.login-button:hover {
  cursor: pointer;
}



.Header-div {
  display : flex;
  align-items: center;
  justify-content: space-between;
  width : 100%;
  background-color: #3d0000;
  height : 5vw;
}

.Header-nav-item {
  text-decoration: none;
  color: white;
  margin : 1em;
  font-family:sans-serif;
  font-weight: bold;
}

.header-icon {
  height : 100px;
  width: 60px;
  padding-bottom: 20px;
  padding-top: 20px;
}

::-webkit-scrollbar {
    width: 10px;
    border : none;
    /* border-style:solid;
	border-right-width : 0px;
    border-top-width: 0px;
    border-bottom-width : 0px;
    border-color : #620000; */

}

::-webkit-scrollbar-thumb {
    background: #d3d1d1;
    border : none;
    width: 80%;
    border-radius: 20%;

}


.activities-container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width : 100%;
  height : 100vh;
}

.activities-header{
  width: 90%;
  display: flex;
  height : 10vh;
  margin-top: 1em;
  align-items: center;
  justify-content: space-between;
  font-family:fantasy;
  font-size: 1.5em;

}

.add-activity {
  color: #3d0000;
  text-decoration: underline;
  font-size: 1em
}

.add-activity :hover{
  cursor: pointer;
}

.activities-div {
  margin-top: 1em;
  display: flex;
  flex-direction: column;
  background-color : #ffdde7;
  width : 90%;
  height : 100%;
  align-items: center;
  justify-content: flex-start;
  border-radius: 15px 15px 0px 0px;
  overflow-Y: scroll;
}

.activity-item-div {
  margin-top : 1em;
  background-color: #fcf7f8;
  width : 95%;
  display: flex;
  align-items: center;
  justify-content: space-around;
  border-radius : 0.3em;
  height : auto;
  font-size: 1.1em;
  padding : 1em 1em 1em 1em;
  font-family:sans-serif;
  box-shadow: 0px 0px 2px 2px #d3d1d1;
}

.activity-item-div > div {

  word-wrap: break-word;
}

.activity-sub-item-div-1{
  width : 5%;
}

.activity-sub-item-div-2{
  width : 15%;
}

.activity-sub-item-div-3{
  width : 10%;
}

.activity-sub-item-div-4{
  width : 10%;
}

.activity-sub-item-div-5{
  width : 30%;
}

.activity-sub-item-div-6{
  width : 15%;
}

.activity-sub-item-div-7{
  width : 15%;
}




.registration-form{
  margin-top : 1em;
  margin-bottom : 1em;
  width : 90%;
  font-family: fantasy;
  display : flex;
  flex-wrap: wrap;
  flex-direction: row;
  align-items: center;
  justify-content: flex-start;
  padding: 10px 40px 40px 40px;
  box-shadow: 0px 0px 5px 2px #f49b42;
  border-radius: 1em;
}

.activity-form-input-label {
  padding-right : 1em;
  padding-left : 2em;
  padding-top: 1em;
}

.activity-form-input {
  border-width: 0 0 2px 0;
  margin-top: 10px;
  padding-top: 1em;
}

.activity-form-input:focus {
  outline: none;
  border-color: #f49b42;
}


.activiy-type-iden-options {
  border : 2px solid #f49b42;
  padding : 1em;
  margin : 1em;

}

.drop-item {
  border-style: solid;
  border-top-width:  0;
  border-right-width:  0;
  border-bottom-width:  2;
  border-left-width:  0;
  border-color: #ffd472;
}


.form-wrap-none {
  display : none;
}


.my-wrap {
  display : flex;
  align-items:center;
  justify-content: center;
}


.register-button {
  margin : 20px;
  background-color: #f49b42;
  border : none;
  padding : 5px 10px 5px 10px;
  font-weight: bold;
  border-radius: 5px;
  font-family:sans-serif;
  color: white;
  font-size: 1em
}


.csv-link {
  position : fixed;
  bottom : 1em;
  right : 0;

}


.csv-button {
  margin : 20px;
  background-color: #1d9100;
  border : none;
  padding : 5px 10px 5px 10px;
  font-weight: bold;
  border-radius: 5px;
  font-family:sans-serif;
  color: white;
  font-size: 1.5em;
  text-decoration : none;
}

.week-toggle-div {
  display : flex;
  align-items: center;
  justify-content: center;
}

.week-toggle-div-name {
  font-weight: bold;
  font-family: sans-serif;
  margin-right: 1em;
}

.bundle{
  display : flex;
  align-items: center;
  justify-content: center;
  color: white;
  font-weight: bold;
  font-family: cursive;
}


.header-adjust{
  margin-left : 1em;
}






/* ---------------------home page start---------------------------------*/

.home-main-container {
  height : 100vh;
  display : flex;
  flex-direction: column;
  align-items: center;
  justify-content: flex-start;
}

.home-header {
  height : 50vh;
  width : 100vw;
  background-color: rgb(214, 0, 107);
  display : flex;
  align-items: flex-start;
  justify-content: space-between;
  padding : 1em 1.5em 0 1.5em;
}

.home-header-title{
  font-family: verdana;
  font-size: 3em;
  font-weight: bolder;
  color: rgb(242,242,242);
  font-style: italic;
}

.home-info {
  position: absolute;
  display : flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-between;
  height : 75vh;
  width : 80vw;
  background-color: rgb(242,242,242);
  z-index: 2;
  bottom : 0;
  border-radius : 0.8em 0.8em 0 0;
  box-shadow: 0px 0px 7px 3px rgb(190,190,190);
}

.home-info-content-top {
  width: 100%;
  display : flex;
  align-items:  center;
  justify-content: space-between;
  padding: 1em;
}

.home-info-li {
    list-style-type: none;
    font-family: verdana;
    font-size: 1.8em;
    font-weight: bolder;
    color:rgb(214, 0, 107);
    padding : 1em;
}

.home-info-pac {
  display: flex;
  align-items: center;
  justify-content: center;
  color: rgb(214, 0, 107);
  padding-right: 1em;
}

.home-footer {
  height : 15vh;
  background-color: rgb(208,206,206);
  width : 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  font-family: verdana;
  font-size: 3em;
  font-weight: 600;
  font-stretch: expanded;
  color : rgb(217,217,217);
}

.nav-link{
  text-decoration: none;
  font-size: 1.3em;
  font-weight: bolder;
  color: rgb(242,242,242);
  font-family: verdana;
  padding-left : 1.5em
}

.nav-link:hover {
    color: pink
}

.coffee{
  height : 100px;
  width: 60px;
  padding-bottom: 20px;
  padding-top: 20px;
  padding-left : 0.1em;
}
/* ---------------------home page End---------------------------------*/



/* ---------------------login page Start---------------------------------*/

.login-container {
  height : 100vh;
  width :100%;
  display : flex;
  align-items: flex-start;
  justify-content: space-between;
}

.login-form-div {
  height: 100%;
  width : 50%;
  background-color: rgb(214, 0, 107);
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-around;
}


.login-form {
  display: flex;
  flex-direction: column;
  width : 25em;
  height : 80%;
}

.login-form-label {
  font-size: 1.5em;
  font-family: verdana;
  font-weight: bold;
  color : rgb(242, 242, 242);
  padding-top : 1em;
}

.login-input {
  background-color : rgb(214, 0, 107);
  border-width: 0 0 2px 0;
  border-color: rgb(242, 242, 242);
  padding-top : 1.5em;
  font-size: 1.5em;
  color:  rgb(242, 242, 242);
}

.login-button {
  align-self: flex-end;
  background-color: rgb(242, 242, 242);
  border : none;
  font-family: verdana;
  font-weight: bold;
  font-size: 1.2em;
  padding : 0.5em 1em 0.5em 1em;
  color : rgb(214, 0, 107);
  border-radius: 0.5em;
  margin-top : 2em;
}

.login-input:focus{
  outline: none;
  border-color: #f49b42;
}

/* .login-input:focus + .login-form-label {
  color : red;
} */

.register-here-text {
  height : 10%;
  font-family: verdana;
  font-weight: bold;
  font-size: 1.5em;
  color : rgb(242, 242, 242);
}

.register-here-text:hover {
  text-decoration: underline;
  cursor: pointer;
}

.error-show {
  height : 10%;
  font-family: verdana;
  font-weight: bold;
  font-size: 1.5em;
  color : rgb(242, 242, 242);
  animation-name: errorAnimation;
  animation-duration: 2s;
  opacity : 0;
  padding-top : 1em;
}

@keyframes errorAnimation {
  0% {
    opacity: 0;
  }

  50% {
    opacity: 1;
  }

  100% {
    opacity: 0;
  }
}


.error-hide {
  opacity : 0;
  height : 10%;
}


.login-header-title {
  font-family: verdana;
  font-size: 3em;
  font-weight: bolder;
  color: rgb(214, 0, 107);
  font-style: italic;
  padding-top : 0.5em;
  padding-left: 0.5em;

}

.login-info {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: space-between;
  height: 100%;
}


.login-title {
  font-family: verdana;
  font-size: 7em;
  font-weight: bolder;
  padding-bottom: 0.1em;
  padding-left: 0.1em;
  color: #d3d1d1;
}


.registration-success-container {
  display : flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  height: 100vh;
  width: 100%;
  background-color:  rgb(214, 0, 107);
  font-family: verdana;
  font-size: 3em;
  font-weight: bolder;
  color : rgb(242,242,242);
}

.register-link{
  color : rgb(242,242,242);
}

/* ---------------------login page End---------------------------------*/
