* {
  box-sizing: border-box;
}

.mycontent {
  display : flex;
  align-items : center;
  justify-content: center;
  height : 100vh;
  margin: 0;
  padding: 0;
}

.login-form {
  font-family: fantasy;
  display : flex;
  flex-direction: column;
  align-items: center;
  justify-content: flex-start;
  padding: 10px 40px 40px 40px;
  box-shadow: 0px 0px 10px 5px #f49b42;
  border-radius: 1em;
}

.loginimg {

  height : 100px;
  width: 70px;
  padding-bottom: 20px;
  padding-top: 20px;
}

.form-input {
  border-width: 0 0 2px 0;
  margin-top: 10px;
}

.form-input:focus {
  outline: none;
  border-color: #f49b42;
}

.form-input-label {
  padding-top: 15px;
}

.login-button {
  margin : 20px;
  background-color: #f49b42;
  border : none;
  padding : 5px 10px 5px 10px;
  font-weight: bold;
  border-radius: 5px;
  font-family:sans-serif;
  color: white;
  font-size: 1em
}

.cancel-button {
  margin : 20px;
  background-color: red;
  border : none;
  padding : 5px 10px 5px 10px;
  font-weight: bold;
  border-radius: 5px;
  font-family:sans-serif;
  color: white;
  font-size: 1em
}

.cancel-button:focus {
  outline: none;
}

.login-button:focus {
  outline: none;

}

.login-button:hover {
  cursor: pointer;
}

.register-link{
  color : red
}

.Header-div {
  display : flex;
  align-items: center;
  justify-content: space-between;
  width : 100%;
  background-color: #3d0000;
  height : 5vw;
}

.Header-nav-item {
  text-decoration: none;
  color: white;
  margin : 1em;
  font-family:sans-serif;
  font-weight: bold;
}

.header-icon {
  height : 100px;
  width: 60px;
  padding-bottom: 20px;
  padding-top: 20px;
}

::-webkit-scrollbar {
    width: 10px;
    border : none;
    /* border-style:solid;
	border-right-width : 0px;
    border-top-width: 0px;
    border-bottom-width : 0px;
    border-color : #620000; */

}

::-webkit-scrollbar-thumb {
    background: #d3d1d1;
    border : none;
    width: 80%;
    border-radius: 20%;

}


.activities-container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width : 100%;
  height : 100vh;
}

.activities-header{
  width: 90%;
  display: flex;
  height : 10vh;
  margin-top: 1em;
  align-items: center;
  justify-content: space-between;
  font-family:fantasy;
  font-size: 1.5em;

}

.add-activity {
  color: #3d0000;
  text-decoration: underline;
  font-size: 1em
}

.add-activity :hover{
  cursor: pointer;
}

.activities-div {
  margin-top: 1em;
  display: flex;
  flex-direction: column;
  background-color : #ffdde7;
  width : 90%;
  height : 100%;
  align-items: center;
  justify-content: flex-start;
  border-radius: 15px 15px 0px 0px;
  overflow-Y: scroll;
}

.activity-item-div {
  margin-top : 1em;
  background-color: #fcf7f8;
  width : 95%;
  display: flex;
  align-items: center;
  justify-content: space-around;
  border-radius : 0.3em;
  height : auto;
  font-size: 1.1em;
  padding : 1em 1em 1em 1em;
  font-family:sans-serif;
  box-shadow: 0px 0px 2px 2px #d3d1d1;
}

.activity-item-div > div {

  word-wrap: break-word;
}

.activity-sub-item-div-1{
  width : 5%;
}

.activity-sub-item-div-2{
  width : 15%;
}

.activity-sub-item-div-3{
  width : 10%;
}

.activity-sub-item-div-4{
  width : 10%;
}

.activity-sub-item-div-5{
  width : 30%;
}

.activity-sub-item-div-6{
  width : 15%;
}

.activity-sub-item-div-7{
  width : 15%;
}




.registration-form{
  margin-top : 1em;
  margin-bottom : 1em;
  width : 90%;
  font-family: fantasy;
  display : flex;
  flex-wrap: wrap;
  flex-direction: row;
  align-items: center;
  justify-content: flex-start;
  padding: 10px 40px 40px 40px;
  box-shadow: 0px 0px 5px 2px #f49b42;
  border-radius: 1em;
}

.activity-form-input-label {
  padding-right : 1em;
  padding-left : 2em;
  padding-top: 1em;
}

.activity-form-input {
  border-width: 0 0 2px 0;
  margin-top: 10px;
  padding-top: 1em;
}

.activity-form-input:focus {
  outline: none;
  border-color: #f49b42;
}


.activiy-type-iden-options {
  border : 2px solid #f49b42;
  padding : 1em;
  margin : 1em;

}

.drop-item {
  border-style: solid;
  border-top-width:  0;
  border-right-width:  0;
  border-bottom-width:  2;
  border-left-width:  0;
  border-color: #ffd472;
}


.form-wrap-none {
  display : none;
}


.my-wrap {
  display : flex;
  align-items:center;
  justify-content: center;
}


.register-button {
  margin : 20px;
  background-color: #f49b42;
  border : none;
  padding : 5px 10px 5px 10px;
  font-weight: bold;
  border-radius: 5px;
  font-family:sans-serif;
  color: white;
  font-size: 1em
}


.csv-link {
  position : fixed;
  bottom : 1em;
  right : 0;

}


.csv-button {
  margin : 20px;
  background-color: #1d9100;
  border : none;
  padding : 5px 10px 5px 10px;
  font-weight: bold;
  border-radius: 5px;
  font-family:sans-serif;
  color: white;
  font-size: 1.5em;
  text-decoration : none;
}

.week-toggle-div {
  display : flex;
  align-items: center;
  justify-content: center;
}

.week-toggle-div-name {
  font-weight: bold;
  font-family: sans-serif;
  margin-right: 1em;
}

.bundle{
  display : flex;
  align-items: center;
  justify-content: center;
  color: white;
  font-weight: bold;
  font-family: cursive;
}
